:root {
  --primary: #e99401;
  --negro: #262626;
  --blanco: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
  --azul: #3b82f6;
  --blanco2: #ffffff;
  --gris-claro: #f5f5f5;
  --gris: #94a3b8;
  --gris-oscuro: #64748b;
  --negro2: #000;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  background-color: var(--gris-claro);
    height: 100%;
}
img {
  max-width: 100%;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}
[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 1rem 0;
}
/*** SWIPE LIST OVERRIDES **/
.swipe-action__leading {
  background-color: var(--azul);
  color: var(--blanco);
  margin-bottom: 2rem;
}

.swipe-action__trailing {
  background-color: #db2777;
  margin-bottom: 2rem;
  color: var(--blanco);
}

.swipeable-list .swipe-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  text-align: right;
}